.wrapper {
  
    display: grid;
    grid-template-columns: repeat(3, 50fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(10px, auto);
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
     rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .form-control{
    width: 90%;
    height: 30px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
